/* App.css */

/* Overall App Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light grey background */
    padding: 20px;
}
html {
    scroll-behavior: smooth;
}
.App {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #007bff; /* Bootstrap primary color */
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.articles {
    margin-top: 20px;
}

/* Card Styles */
.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    color: #555;
}

.card-link {
    color: #007bff;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}
.read-more-link {
    color: #007bff;
    text-decoration: none;
}

.read-more-link:hover {
    text-decoration: underline;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(
        auto-fit
    ); /* Responsive grid with minimum card width */
    gap: 20px; /* Space between cards */
}
